/* background */ 
.left-hisrory , 
#header,
.sunset,
#footer {
    background-attachment:inherit;
}

/* Header */ 
html,body {
    
    width: 100vw;
     overflow-x: hidden; 
    
}
#header {
    height: 100%;
    
}

#navbar .logo {
    float: none;
    text-align : center;
    padding: 10px;
}

#navbar ul , #navbar ul li {
    float: none;
}

#showcase .showcase-content {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* info */ 
.left-hisrory {
    display: none;
}


#history .history .right-hisrory {
    float: none;
    width: 100%;
    padding: 100px 30px;
}
/* feature */ 

#features .box {
    float: none;
    margin:20px auto ;
   
}

/* sunset */ 

.sunset-content {
    font-size: 25px;
}

.sunset-content h1 {
    padding:10px 10px;
}

/* prices */ 
#price {
    position : static;
    height: 100%;
}

.box-cards{
    position : static;
    width: 100%;
    transform : none;
    

}

.cards {
    margin: 20px auto;
    float: none;
}


